@charset "UTF-8";
/*couleurs*/
/*fin des couleurs*/
/*Page d'acceuil*/
.logo {
  padding: 15px 0 8px 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.logo_img {
  justify-content: center;
  width: 200px;
  height: 40px;
}

/*Fin de page d'acceuil*/
/*Localisation*/
.search-bar {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  padding: 20px;
  font-weight: bold;
  width: 100%;
}

/*Fin de la localisation*/
/*Début de Présentaion*/
.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.presentation_title {
  font-weight: bold;
  font-size: 20px;
}
.presentation_button {
  padding: 25px 15px;
  border-radius: 30px;
  text-align: center;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 10px;
}
.presentation a {
  text-decoration: none;
}
.presentation:hover {
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px;
}

/*Début du fonctionnement*/
.functioning-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 15px;
  padding: 0 15px;
}
.functioning-section_title {
  margin: 0 0 20px 22px;
}
.functioning-section p {
  margin: 0 0 30px 0;
}
.functioning-section_icone {
  margin: 0 20px 20px 40px;
  padding: 30px 50px 30px 18px;
  font-weight: bold;
  background: #F6F6F6;
  text-align: center;
  font-family: "Roboto" sans-serif;
  width: 300px;
  max-height: 78px;
}
.functioning-section_icone:hover {
  background: #f5edff;
}
.functioning-section .fas {
  color: #9356DC;
}
.functioning-section_icone_number {
  width: 18px;
  height: 18px;
  background: #9356DC;
  border-radius: 50%;
  padding: 4px 4px;
  position: absolute;
  top: 30%;
  left: -4%;
  color: #FFF;
}

/*Fin du fonctionnement*/
/* Début de main*/
.restaurant {
  background: #f6f6f6;
}
.restaurant_title h3 {
  padding: 30px 0 10px 22px;
}
.restaurant_bloc a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.restaurant_card {
  border-radius: 20px;
  margin-bottom: 10px;
  background: white;
  position: relative;
  max-width: 250px;
}
.restaurant_card_image a img {
  width: 100%;
  max-height: 170px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant_heart fas {
  position: absolute;
  right: 20px;
  top: 1;
}
.restaurant .btn_new {
  background: #99E2D0;
  padding: 0.5rem;
  border-radius: 0.125rem;
  color: #1b6150;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

/*Fin du main*/
/*Début du footer*/
.section_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #353535;
  color: #FFF;
  padding: 25px 0;
  min-width: 320px;
}
.section_footer_title h5 {
  margin: 0 0 10px 20 px;
  color: #e6e6e6;
  font-family: "Shrikhand, cursive";
  font-size: 20px;
  margin-bottom: 15px;
}
.section_footer a {
  text-decoration: none;
}
.section_footer a:hover {
  text-decoration: underline;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */